<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="m-5 col-lg-4">
        <h2 class="fs-1">About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum nemo quidem ad sit, ratione sequi.
            Unde error natus ipsa, incidunt corrupti corporis atque sit voluptate magnam dolor cupiditate quis facere.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum nemo quidem ad sit, ratione sequi.
            Unde error natus ipsa, incidunt corrupti corporis atque sit voluptate magnam dolor cupiditate quis facere.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum nemo quidem ad sit, ratione sequi.
            Unde error natus ipsa, incidunt corrupti corporis atque sit voluptate magnam dolor cupiditate quis facere.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum nemo quidem ad sit, ratione sequi.
            Unde error natus ipsa, incidunt corrupti corporis atque sit voluptate magnam dolor cupiditate quis facere.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>